.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
