.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12.5vh;
  padding: 0 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 500;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 2rem;
}

.navlinks a {
  font-size: 0.95rem;
  font-weight: 600;
}

.user-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 0.25rem 1.5rem;
  border-radius: 45px;
  cursor: pointer;
}

.user-icon:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.globe-icon {
  cursor: pointer;
}

.burger .line {
  height: 2px;
  width: 1.15rem;
  background: #000;
  margin: 0.2rem;
}

.activities {
  margin-top: 8rem;
}

.activities-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
}

.activities-title {
  font-size: 2.5rem;
  margin: 0.5rem 0 1rem 0;
}

.covid-restrictions {
  font-size: 0.9rem;
}

.learn-more {
  cursor: pointer;
  text-decoration: underline;
}

.activitity-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1.3rem;
  flex-wrap: wrap;
}

.activity-card {
  width: 23rem;
  cursor: pointer;
}

.activity-card-image {
  position: relative;
}

.activity-card-image::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.activity-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.activity-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  z-index: 2;
}

.number-experience {
  font-size: 0.8rem;
  font-weight: 500;
  color: #767676;
  margin-top: 0.85rem;
  display: inline-block;
}

.activity-title {
  color: #484848;
  font-size: 1rem;
  margin: 0.25rem 0;
}

.activity-description {
  font-size: 0.9rem;
  color: #484848;
}

.section-title {
  font-size: 1.25rem;
}

.host-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}

.host-card {
  width: 15rem;
  height: 23rem;
  border-radius: 10px;
  cursor: pointer;
}

.host-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.host-card h3 {
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
  margin: 1rem 0 0.5rem 0;
}

.host-card p {
  font-size: 0.95rem;
  text-align: center;
}

.city-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.city-card {
  width: 12rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.city-card figure {
  height: 80%;
}

.city-card figure img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.city-card span {
  padding: 1rem;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.85rem;
}

.experience-cards {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.experience-card {
  width: 17rem;
  height: 26rem;
  cursor: pointer;
}

.experience-card figure {
  width: 17rem;
  height: 20rem;
  position: relative;
  transition: 0.25s all ease;
}

.experience-card figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.experience-card figure .transition-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.25s all ease;
}

.experience-card figure:hover .transition-img {
  opacity: 1;
}

.experience-stats {
  padding: 0.5rem 0 0.25rem 0;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.experience-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.price {
  font-size: 0.95rem;
  font-weight: 500;
}

.price span {
  font-weight: 700;
}
