* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #0d0e0e;
  margin: 0;
  font-family: "Inter", sans-serif;
}

input {
  margin: 1rem 0.25rem;
  padding: 0.25rem;
  font-family: inherit;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
}

textarea {
  margin: 1rem 0.25rem;
  padding: 0.25rem;
  font-family: inherit;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}
