* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 13vh;
}

ul {
  display: flex;
  gap: 1.5rem;
}

li a:hover {
  text-decoration: underline;
}

main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 0.65rem;
  background: #000;
  color: white;
  text-align: center;
}
