* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #0d0e0e;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.joke-container {
  padding: 1rem;
}
