* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff7c43;
  color: white;
  margin: 0;
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

h1 {
  text-align: center;
}
